{% extends 'layout.html' %}
{%  block css %}
    <style>
        #dbox{
            position: relative;
        }
        #box{
            width: 180px;
            height: 38px;
            position: absolute;
            top: -39px;
            left: 139px;
        }
        #box1{
            position: absolute;
            top: -39px;
            left: 325px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><h2>{{ title }}</h2></div>
        <div class="panel-body">
        {% load rbac %}
        {% if request|is_include:'add_course_record' %}
            <a href="" style="color: white">
                <a class="btn btn-primary" href="{% url 'add_course_record' class_id %}">录入课程记录</a>
            </a>
        {% endif %}
            <form action="" class="form-inline pull-right">
                <input type="text" name="content" class="form-control">
                <button class="btn btn-success" >搜索</button>
            </form>
            <form action="" method="post" id="dbox">
                {% csrf_token %}
                <select name="operation" id="box" class="form-control">
                        <option value="multi_init">批量初始化学习记录</option>

                </select>
                <button class="btn btn-primary" id="box1">确定</button>
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th style="text-align: center">选择</th>
                    <th style="text-align: center">序号</th>
                    <th style="text-align: center">课程名称</th>
                    <th style="text-align: center">上课日期</th>
                    <th style="text-align: center">课程标题</th>
                    <th style="text-align: center">是否有作业</th>
                    <th style="text-align: center">本节作业标题</th>
                    <th style="text-align: center">讲师</th>
                    <th style="text-align: center">记录者</th>
                    <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody id="UserList">
                {% csrf_token %}
                {% for course_record in all_course_record %}
                    <tr>
                    <td>
                         <input type="checkbox" name="pk" value="{{ course_record.pk }}">
                    </td>
                        <td style="vertical-align: inherit">{{ forloop.counter }}</td>
                        <td style="vertical-align: inherit">{{ course_record }}</td>
                        <td style="vertical-align: inherit">{{ course_record.date|truncatechars:50 }}</td>
                        <td style="vertical-align: inherit">{{ course_record.course_title }}</td>
                        <td style="vertical-align: inherit">{{ course_record.has_homework }}</td>
                        <td style="vertical-align: inherit">{{ course_record.homework_title }}</td>
                        <td style="vertical-align: inherit">{{ course_record.teacher }}</td>
                        <td style="vertical-align: inherit">{{ course_record.recorder }}</td>
                        <td style="vertical-align: inherit">
                        {% load my_tags %}
                            {% if request|is_include:'edit_course_record' %}
                            <a href="{% reverse_url request 'edit_course_record' course_record.pk %}" class="btn btn-primary btn-sm">修改</a>
                            {% endif %}
                            <a href="{% reverse_url request 'study_record' course_record.pk %}"
                                   class="btn btn-primary btn-sm">查看学习记录</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>
            <nav aria-label="Page navigation" class="text-center" style="margin-top: 250px">
                <ul class="pagination">
                    {{ page }}
                </ul>
                <div class="pageJump">
                    <form action="">
                        <span>跳转到</span>
                        <input type="number" name="page" style="width: 70px">
                        <span>页</span>
                        <button class="button" >确定</button>
                    </form>
                </div>

            </nav>
        </div>
    </div>


{% endblock %}