{% extends 'layout.html' %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><h2>学生信息主页</h2></div>
        <div class="panel-body" id="box">
            <a href="" style="color: white">
                <button type="button" class="btn btn-primary">录入学生信息</button>
            </a>
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th style="text-align: center">序号</th>
                    <th style="text-align: center">ID</th>
                    <th style="text-align: center">姓名</th>
                    <th style="text-align: center">性别</th>
                    <th style="text-align: center">qq</th>
                    <th style="text-align: center">出生日期</th>
                    <th style="text-align: center">手机号</th>
                    <th style="text-align: center">客户来源</th>
                    <th style="text-align: center">咨询课程</th>
                    <th style="text-align: center">班级类型</th>
                    <th style="text-align: center">状态</th>
                    <th style="text-align: center">下次跟进时间</th>
                    <th style="text-align: center">销售</th>
                    <th style="text-align: center">已报班级</th>
                    <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody id="UserList">
                {% csrf_token %}
                {% for customer in all_customer %}
                    <tr>
                        <td style="vertical-align: inherit">{{ forloop.counter }}</td>
                        <td style="vertical-align: inherit">{{ customer.pk }}</td>
                        <td style="vertical-align: inherit">{{ customer.name }}</td>
                        <td style="vertical-align: inherit">{{ customer.get_sex_display }}</td>
                        <td style="vertical-align: inherit">{{ customer.qq }}</td>
                        <td style="vertical-align: inherit">{{ customer.birthday }}</td>
                        <td style="vertical-align: inherit">{{ customer.phone }}</td>
                        <td style="vertical-align: inherit">{{ customer.get_source_display }}</td>
                        <td style="vertical-align: inherit">{{ customer.course }}</td>
                        <td style="vertical-align: inherit">{{ customer.get_class_type_display }}</td>
                        <td style="vertical-align: inherit">{{ customer.show_status }}</td>
                        <td style="vertical-align: inherit">{{ customer.next_date }}</td>
                        <td style="vertical-align: inherit">{{ customer.consultant|default:'无' }}</td>
                        <td style="vertical-align: inherit">{{ customer.show_class|default:'无' }}</td>
                        <td style="vertical-align: inherit">
                            <a href="" class="btn btn-primary btn-sm">修改</a>
                            <a href="" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation" class="text-center" style="margin-top: 250px">
                <ul class="pagination">
                    {{ page }}
                </ul>
                <div class="pageJump">

                    <form action="">
                        <span>跳转到</span>
                        <input type="number" name="page" style="width: 70px">
                        <span>页</span>
                        <button type="button" class="button">确定</button>
                    </form></div>

            </nav>
        </div>
    </div>


{% endblock %}